Tsk/Brilliantech.Tsk/Brilliantech.Tsk.Client.WPFUI/Service References/TskInspectService/Brilliantech.Framwork.Message.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Brilliantech.Framwork.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Brilliantech.Framwork.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ProcessMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessMessage" nillable="true" type="tns:ProcessMessage" />
  <xs:complexType name="BaseMessage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseMessage" nillable="true" type="tns:BaseMessage" />
</xs:schema>